.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px 0 10px;
}

.introduction h1 {
  font-size: 3em;
}

.introduction p {
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8em;
  margin: 2em;
}

.messagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.message {
  width: 200px;
  padding: 10px;
  color: black;
  border-radius: 10px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
  position: relative;
  word-wrap: break-word;
}

.message::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -10px; /* Half the height of the arrow */
  border-width: 10px;
  border-style: solid;
  border-color: transparent #e0e0e0 transparent transparent;
}

.username {
  justify-self: right;
}
