.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px 0 10px;
}

.introduction h1 {
  font-size: 3em;
}

.introduction p {
  font-size: 1.5em;
}

.inputFields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  margin: 0 1em;
}

.inputMessageContainer {
  display: flex;
  flex-direction: column;
}

#charCount {
  align-self: flex-end;
  font-size: 1em;
}

#inputMessage {
  width: 50em;
  height: 10em;
  padding: 1em;
}

#inputUsername {
  padding: 0.8em;
  width: 28em;
}

#sendButton {
  padding: 0.7em 2em;
  font-weight: 700;
  letter-spacing: 0.3em;
  cursor: pointer;
}

#sendButton:disabled {
  cursor: not-allowed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8em;
  margin: 2em;
}

.messagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.message {
  width: 23em;
  display: flex;
  flex-direction: column;
  padding: 2em;
  color: black;
  border-radius: 10px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
  position: relative;
  flex-wrap: wrap;
  font-weight: 500;
}

.message::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -10px; /* Half the height of the arrow */
  border-width: 10px;
  border-style: solid;
  border-color: transparent #e0e0e0 transparent transparent;
}

.username {
  align-self: flex-end;
}

.createAt {
  align-self: flex-end;
}

@media only screen and (max-width: 767px) {
  #inputMessage {
    width: 20em;
    height: 8em; /* Adjust height for mobile layout */
  }

  #inputUsername {
    padding: 0.8em;
    width: 18em;
  }
}
