:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222831;
  --nice-red: #820300;
  --nice-grey: #393e46;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea::placeholder,
input::placeholder {
  font-size: 1.3em;
}

textarea {
  background-color: var(--nice-grey);
  border: 1px solid var(--nice-red);
  border-radius: 5px;
}

input {
  background-color: var(--nice-grey);
  border: 1px solid var(--nice-red);
  border-radius: 5px;
}

button {
  background-color: var(--nice-red);
  border: 1px solid var(--nice-grey);
  border-radius: 5px;
}

button:hover {
  background-color: var(--nice-grey);
  border: 1px solid var(--nice-red);
}
